name: 'Build The Docker Image'

on:
  push:
    paths:
      - '**.java'
      - '**.properties'
      - '.github/workflows/*.yml'
      - 'bin/*'
      - 'docker/*'
      - 'build.gradle'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: Build the Docker image
        run: ./bin/setup.sh && ./bin/start.sh
