name: Docker

on:
  push:
    paths:
      - '.github/workflows/docker.yml'
      - 'bin/apply_migrations.sh'
      - 'bin/run.sh'
      - 'bin/teardown.sh'
      - 'docker/*'
      - 'src/main/**.java'
      - '**application.yml'
      - '*.gradle'

env:
  USE_CACHE: 'true'
  MAIN_IMAGE: 'renameme'
  REGISTRY: 'docker.pkg.github.com'
  TMP_CACHE: 'cache-tmp'

  SET_VARIABLES: |
    if [ 'true' = "$USE_CACHE" ]; then
      build_image="${MAIN_IMAGE}-gradle-build"
      echo "BUILD_IMAGE=${build_image}" >> $GITHUB_ENV
      echo "BUILD_CONTAINER_CACHE=${REGISTRY}/${GITHUB_REPOSITORY}/${build_image}" >> $GITHUB_ENV
      echo "MAIN_CONTAINER_CACHE=${REGISTRY}/${GITHUB_REPOSITORY}/${MAIN_IMAGE}" >> $GITHUB_ENV
    fi

  PULL_CACHE: |
    docker pull "$BUILD_CONTAINER_CACHE" || echo "::warning::Failed to pull ${BUILD_CONTAINER_CACHE}"
    docker pull "$MAIN_CONTAINER_CACHE" || echo "::warning::Failed to pull ${MAIN_CONTAINER_CACHE}"

  TAG_PUSH: |
    if docker tag "$BUILD_IMAGE" "$BUILD_CONTAINER_CACHE"; then
      docker push "$BUILD_CONTAINER_CACHE" || echo "::warning::Failed to push ${BUILD_CONTAINER_CACHE}"
    else
      echo "::warning::Failed to tag ${BUILD_IMAGE}"
    fi
    if docker tag "$MAIN_IMAGE" "$MAIN_CONTAINER_CACHE"; then
      docker push "$MAIN_CONTAINER_CACHE" || echo "::warning::Failed to push ${MAIN_CONTAINER_CACHE}"
    else
      echo "::warning::Failed to tag ${MAIN_IMAGE}"
    fi

  TEST_API: |
    # Testing the API
    sleep 15 # Wait for Tomcat to come up
    url='http://localhost:8080/api/welcome/1'
    response_code="$(curl --silent --show-error --output /dev/null --write-out '%{http_code}' "$url")"
    if [ 200 -ne "$response_code" ]; then
      echo "::error::Expected 200 response code but received ${response_code} from ${url}"
      exit 1
    fi

jobs:
  docker:
    name: 'Docker: build and test'
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: Cache ./tmp/*
        uses: actions/cache@v2
        with:
          path: ./tmp
          key: ${{ runner.os }}-build-${{ env.TMP_CACHE }}-${{ hashFiles('./tmp/*') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.TMP_CACHE }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Add variables
        run: ${{ env.SET_VARIABLES }}

      - name: Log into the Docker registry
        if: ${{ 'true' == env.USE_CACHE }}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login "$REGISTRY" --username "$GITHUB_ACTOR" --password-stdin

      - name: Pull cached images
        if: ${{ 'true' == env.USE_CACHE }}
        run: ${{ env.PULL_CACHE }}

      - name: Build and run the container
        run: |
          if [ 'true' = "$USE_CACHE" ]; then
            cache_from="--cache-from ${BUILD_CONTAINER_CACHE} --cache-from ${MAIN_CONTAINER_CACHE}"
          fi
          # shellcheck disable=SC2086
          ./bin/run.sh --apply-migrations --detach $cache_from

      - name: Tag and push the images
        if: ${{ 'true' == env.USE_CACHE }}
        run: ${{ env.TAG_PUSH }}

      - name: Test the API
        run: ${{ env.TEST_API }}

      - name: Teardown
        run: ./bin/teardown.sh --include-db
