name: Docker

on:
  push:
    paths:
      - '.github/workflows/*.yml'
      - 'bin/*'
      - 'docker/*'
      - '**.java'
      - '**.properties'
      - 'build.gradle'
      - 'settings.gradle'

env:
  API_TEST: |
    # Testing the API
    sleep 20 # Wait for Tomcat to come up
    url='http://localhost:8080/api/welcome/1'
    response_code="$(curl --silent --show-error --output /dev/null --write-out '%{http_code}' "$url")"
    test 200 -eq "$response_code"

jobs:
  docker:
    name: 'Docker: build and test'
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: Build
        run: ./bin/setup.sh

      - name: Start the container
        run: ./bin/start.sh --detach --dont-stop-db

      - name: Test the API
        run: ${{ env.API_TEST }}

      - name: Teardown
        run: ./bin/teardown.sh

  docker-compose:
    name: 'Docker Compose: build and test'
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: Build and up
        run: docker-compose --file docker/docker-compose.yml up --build --detach

      - name: Test the API
        run: ${{ env.API_TEST }}

      - name: Down
        run: docker-compose --file docker/docker-compose.yml down
