name: ShellCheck

on:
  push:
    paths:
      - '**.sh'
      - '.github/workflows/*.yml'

jobs:
  shellcheck:
    name: 'ShellCheck'
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: ShellCheck annotations
        uses: reviewdog/action-shellcheck@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          level: info

      # As `reviewdog/action-shellcheck` does not fail the build on `style`
      # errors, run `bewuethr/shellcheck-action` as a precaution. Can be
      # removed once `reviewdog/action-shellcheck` fails the build on the
      # specified `severity`.
      - name: ShellCheck test
        uses: bewuethr/shellcheck-action@v2
