name: ShellCheck

on:
  push:
    paths:
      - '**.sh'
      - '.github/workflows/*.yml'
  pull_request:
    paths:
      - '**.sh'
      - '.github/workflows/*.yml'

jobs:
  shellcheck:
    name: 'ShellCheck'
    runs-on: ubuntu-latest
    steps:
      - name: Clone the repository
        uses: actions/checkout@v2

      - name: ShellCheck annotations
        uses: reviewdog/action-shellcheck@v1
        with:
          reporter: github-pr-review
          level: info
          fail_on_error: true
          shellcheck_flags: --severity=style
#          exclude: |
#            .git/*
#            gradle/*
#            gradlew
